In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import investpy
import datetime

In [2]:
engine = sqlalchemy.create_engine(
    "postgresql://quotes:clue0QS-train@raspberrypi/quotes")
con = engine.connect()

In [4]:
sql = 'SELECT MAX("Date") from "IE00B14X4T88"'
result = con.execute(sql).scalar()
print("Latest date: {0}".format(result))

Latest date: 2020-02-21 00:00:00

In [6]:
history = pd.read_sql("IE00B14X4T88", con)
history.head()

        Date   Open   High    Low  Close Currency
0 2006-09-15  21.18  21.18  21.18  21.18      EUR
1 2006-09-18  21.42  21.42  21.42  21.42      EUR
2 2006-09-25  21.10  21.10  21.10  21.10      EUR
3 2006-09-26  21.13  21.21  21.13  21.21      EUR
4 2006-09-28  21.42  21.42  21.37  21.37      EUR

In [7]:
history.tail()

           Date   Open   High    Low  Close Currency
3776 2020-02-17  24.41  24.41  24.29  24.34      EUR
3777 2020-02-18  24.16  24.27  24.15  24.19      EUR
3778 2020-02-19  24.36  24.42  24.32  24.41      EUR
3779 2020-02-20  24.44  24.44  24.22  24.22      EUR
3780 2020-02-21  24.10  24.26  24.10  24.14      EUR

In [10]:
later = history["Date"] > "2019-01-01"
history[later]

           Date   Open   High    Low  Close Currency
3493 2019-01-02  21.39  21.77  21.32  21.75      EUR
3494 2019-01-03  21.65  21.65  21.47  21.55      EUR
3495 2019-01-04  21.80  22.09  21.75  22.05      EUR
3496 2019-01-07  22.15  22.15  21.96  22.05      EUR
3497 2019-01-08  22.16  22.27  22.16  22.20      EUR
...         ...    ...    ...    ...    ...      ...
3776 2020-02-17  24.41  24.41  24.29  24.34      EUR
3777 2020-02-18  24.16  24.27  24.15  24.19      EUR
3778 2020-02-19  24.36  24.42  24.32  24.41      EUR
3779 2020-02-20  24.44  24.44  24.22  24.22      EUR
3780 2020-02-21  24.10  24.26  24.10  24.14      EUR

[288 rows x 6 columns]

In [11]:
con.close()